* {
    margin: 0;
    padding: 0;
}

.menu-container {
    height: 80px;
    margin: 80px auto;
    background-color: #d8d8d8;
}

.menu-left {
    padding: 0px 30px;
    float: left;
}

.menu-left label {
    font-size: 24px;
    font-weight: 900;
    line-height: 80px;
}

.menu-right {
    width: 900px;
    float: right;
    margin-right: 20px;
    height: 80px;
    background: #f2f2f2;
}

.menu-right ul {
    margin: 0;
    padding: 0;
    float: right;
}

.menu-right ul li {
    display: inline-table;
}

.menu-right a {
    height: 80px;
    line-height: 80px;
    color: #585858;
    display: block;
    font-size: 18px;
    padding: 0px 18px;
}

.menu-right a:hover {
    color:#000000;
    font-weight: 800;
}